<%= simple_form_for(@provider) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :cloud, :collection => Provider.get_cloud_values, :prompt => "select cloud..." %>
    <%= f.input :key %>
    <%= f.input :secret %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
