<%= simple_form_for(@balancer, :html => {:class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :account, :collection => Account.all %>
    <%= f.association :environment, :collection => Environment.with_account(current_user.account).all %>
    <%= f.input :primary, :as => :boolean %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
