

<%= simple_form_for(@user, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>

    <div class="container">
      <div class="form-inputs span-4">
        <%= f.input :name, :disabled => true %>
        <%= f.input :email %>
        <%= f.input :current_password %>
        <%= f.input :password, :hint => "only if you want to change it" %>
        <%= f.input :password_confirmation %>
        <%= f.input :time_zone, :priority => /US/ %>
        <%= f.input :authentication_token, :disabled => true %>
      </div>

      <!--
      <div class="span-4">
        <h3>Providers (<%#= link_to "new", new_provider_path %>)</h3>
        <div>
          <%# @user.providers.each do |provider| %>
              <div>
                <%#= link_to edit_provider_path(provider) do %>
                    <%#= t("mongoid.symbolizes.provider.cloud.#{provider.cloud}", :default => provider.cloud) %>
                <%# end %>
              </div>
          <%# end %>
        </div>
      </div>
      -->
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>

<b>config</b>
<pre><%= Mystro.config.to_hash.to_yaml %></pre>
<b>account</b>
<pre><%= Mystro.account.to_hash.to_yaml %></pre>
