<%= simple_form_for(@compute, :html => {:class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :organization, :collection => Organization.asc(:name).all %>
    <%= f.association :environment, :collection => Environment.with_organization(current_user.organization).asc(:name).all %>
    <%= f.association :balancer, :collection => Balancer.with_organization(current_user.organization).asc(:name).all %>
    <%= f.input :region, disabled: true %>
    <%= f.input :flavor, disabled: true %>
    <%= f.input :image, disabled: true %>
    <%= f.input :groups, disabled: true, input_html: {value: @compute.groups.join(",")} %>
    <%= f.input :keypair, disabled: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
