<% content_for :subnav_buttons do %>
    <%= link_to edit_userdata_path(@userdata), :title => "Edit Role", :class => "btn btn-primary" do %><i class="icon-edit icon-white"></i> edit
    <% end %>
    <%= link_to @userdata, method: :delete, data: { confirm: 'Are you sure?' }, :title => "Destroy Role", :class => "btn btn-danger" do %><i class="icon-remove-sign icon-white"></i> destroy
    <% end %>
<% end %>

<table class="table table-condensed table-bordered fields-horizontal">
  <tr>
    <th>Name</th>
    <td><%= @userdata.name %></td>
  </tr>
  <tr>
    <th>Files</th>
    <td>
      <% @userdata.files.each do |f| %>
      <%= f %><br>
      <% end %>
    </td>
  </tr>
  <tr>
    <th>Enabled</th>
    <td><%= @userdata.enabled %></td>
  </tr>
  <tr>
    <th>Created</th>
    <td><%= @userdata.created_at %></td>
  </tr>
</table>

<pre><%= @userdata.data.to_yaml %></pre>
<pre><%= @userdata.script %></pre>