<table class="table table-condensed  table-striped table-hover tablesorter {sortlist: [[1,0],[0,0]]}">
  <thead>
  <tr>
    <th>Name</th>
    <th>Organization</th>
    <th>File</th>
    <th>Enabled</th>
    <th class="links {sorter: false}"></th>
  </tr>
  </thead>
  <tbody>
<% @templates.each do |template| %>
  <tr>
    <td><%= link_to template.name, template %></td>
    <td><%= template.organization ? link_to(template.organization.name, template.organization) : "" %></td>
    <td><%= template.file %></td>
    <td><%= template.enabled %></td>
    <td class="links"><%= render "common/links", :obj => template, :edit => edit_template_path(template) %></td>
  </tr>
<% end %>
  </tbody>
</table>
