<table class="table table-condensed table-striped tablesorter"> <!-- can't use tablesorter for some reason -->
  <thead>
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>env</th>
    <th>roles</th>
    <th>protected?</th>
    <th>ip</th>
    <th>az</th>
    <th>flavor</th>
    <th>state</th>
  </tr>
  </thead>
  <tbody>
  <% @computes.each do |compute| %>
      <tr>
        <td><%= compute.id %></td>
        <td><%= compute.tags['Name'] %></td>
        <td><%= compute.tags['Environment'] %></td>
        <td><%= compute.tags['Roles'] %></td>
        <td><%= compute.tags['Protected'] %></td>
        <td><%= compute.public_ip_address.to_s %></td>
        <td><%= compute.availability_zone %></td>
        <td><%= compute.flavor_id.to_s %></td>
        <td><%= compute.state.to_s.downcase %></td>
      </tr>
  <% end %>
  </tbody>
</table>
