<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title><%= content_for?(:title) ? yield(:title) : "#{@environment.name} widget" %></title>
  <meta name="description" content=""/>
  <meta name="author" content=""/>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<style>
  body {
      margin: 0;
      padding: 0;
  }
</style>
<body>
<div>
  <%= render "common/widget", widget_data(@environment) %>
</div>
<div style="clear: both">
  <%= link_to "<< home", root_path %>
</div>
<!--! end of #main -->
</body>
</html>
