<tr>
  <td><%= volume.name %></td>
  <td><%= volume.device %></td>
  <td><%= volume.size %></td>
  <td><%= volume.dot %></td>
  <td><%= volume.snapshot %></td>
  <td><%= volume.virtual %></td>
  <td>
    <!--
    <%#= link_to "#", :title => "Refresh", :class => "btn btn-mini environment_refresh", "data-id" => environment.id do %>
        <i class="icon-refresh"></i>
    <%# end %>
    <%#= render "common/links", :obj => environment, :edit => edit_environment_path(environment) %>
    -->
  </td>
</tr>
