<%= simple_form_for(@role, :html => {:class => "form-horizontal"}) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :internal, :as => :boolean %>
      <%= f.input :deployable, :as => :boolean %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
<% end %>
