<table class="table table-condensed  table-striped table-hover  tablesorter {sortlist: [[0,0]]}">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Internal</th>
    <th>Deployable</th>
    <th class="links {sorter: false}"></th>
  </tr>
  </thead>
  <tbody>
<% @roles.each do |role| %>
  <tr>
    <td><%= link_to role.name, role_path(role) %></td>
    <td><%= role.description %></td>
    <td><%= role.internal %></td>
    <td><%= role.deployable %></td>
    <td class="links"><%= render "common/links", :obj => role, :edit => edit_role_path(role) %></td>
  </tr>
<% end %>
  </tbody>
</table>
