<%= simple_form_for(@environment, :html => {:class => "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :account, :collection => @accounts %>
    <%= f.association :template, :collection => @templates, :label_method => :to_str %>
    <%= f.input :protected, :as => :boolean %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
