<% content_for :subnav_buttons do %>
    <a href="#" data-type="general" class="create_compute btn btn-primary" title="Add New Server to this Environment">
      <i class="icon-plus-sign icon-white"></i> server
    </a>
    <% if @environment.template %>
        <% @environment.template.data["servers"].each do |server|; s = server["attrs"] %>
            <a href="#" data-type="<%= s["name"] %>" class="create_compute btn btn-primary" title="Add New Server to this Environment">
              <i class="icon-plus-sign icon-white"></i> <%= s["name"] %>
            </a>
        <% end %>
    <% end %>
    <%= link_to edit_environment_path(@environment), :title => "Edi Environment", :class => "btn btn-primary" do %><i class="icon-edit icon-white"></i> edit
    <% end %>
    <%= link_to @environment, method: :delete, data: { confirm: 'Are you sure?' }, :title => "Destroy Environment", :class => "btn btn-danger" do %><i class="icon-remove-sign icon-white"></i> destroy
    <% end %>
<% end %>

<table class="table table-condensed table-bordered fields-horizontal">
  <tr>
    <th>Name</th>
    <td><%= @environment.name %></td>
  </tr>
  <tr>
    <th>Account</th>
    <td><%= @environment.account ? link_to(@environment.account.name, @environment.account) : "" %></td>
  </tr>
  <tr>
    <th>Template</th>
    <td><%= link_to @environment.template.name, @environment.template if @environment.template %></td>
  </tr>
  <tr>
    <th>Protected</th>
    <td><%= @environment.protected %></td>
  </tr>
  <tr>
    <th>Created</th>
    <td><%= @environment.created_at %></td>
  </tr>
</table>

<%= render "computes/list", computes: @environment.computes.sort_by(&:short) %>
<%= render "balancers/list", balancers: @environment.balancers %>

<script type="text/javascript">
</script>


<%= render "computes/dialog", type: "general", environment: @environment, tserver: {} %>
<% if @environment.template %>
    <% @environment.template.data["servers"].each do |server|; s = server["attrs"] %>

        <%# compute = Compute.new; compute.set_defaults(current_account); compute.environment = @environment %>
        <%= render "computes/dialog", type: s["name"], environment: @environment, tserver: s %>

    <% end %>
<% end %>