<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
<%= link_to "Mystro", main_app.root_path, :class => 'brand', :title => server_version %>
<div class="nav-collapse">
  <ul class="nav">
    <li class="<%= controller.controller_path == '' || controller.controller_path == 'home' ? 'active' : '' %>">
      <%= link_to "/" do %>
          <i class="icon-home "></i> Home
      <% end %>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Models <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li class="<%= controller.controller_path == 'environments' ? 'active' : '' %>">
          <%= link_to main_app.environments_path do %>
              Environments
          <% end %>
        </li>
        <li class="<%= controller.controller_path == 'computes' ? 'active' : '' %>">
          <%= link_to main_app.computes_path do %>
              Computes
          <% end %>
        </li>
        <li class="<%= controller.controller_path == 'balancers' ? 'active' : '' %>">
          <%= link_to main_app.balancers_path do %>
              Balancers
          <% end %>
        </li>
        <li class="<%= controller.controller_path == 'records' ? 'active' : '' %>">
          <%= link_to main_app.records_path do %>
              Dns
          <% end %>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Plugins <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <% if Mystro::Plugin.ui %>
        <% (Mystro::Plugin.ui).each do |name, list|; d = list.count > 0 ? list.first.last : "#" %>
            <li class="dropdown-submenu">
              <a tabindex="-1" href="<%= d %>"><%= name %></a>
              <ul class="dropdown-menu">
                <% list.each do |n, p| %>
                <li>
                  <%= link_to p do %>
                      <%= n.to_s.capitalize %>
                  <% end %>
                </li>
                <% end %>
              </ul>
            </li>
        <% end %>
        <% end %>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to main_app.organizations_path do %>
              Organizations
          <% end %>
        </li>
        <li>
          <%= link_to main_app.providers_path do %>
              Providers
          <% end %>
        </li>
        <li>
          <%= link_to main_app.templates_path do %>
              Templates
          <% end %>
        </li>
        <li>
          <%= link_to main_app.userdata_index_path do %>
              Userdata
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
  <!--
  <form class="navbar-search pull-right" action="">
    <input type="text" class="search-query span2" placeholder="Search">
  </form>
  -->
  <ul class="nav pull-right">
    <li class="dropdown">
      <%#= render 'qujo/common/bootstrap', jobs: {}.merge(Settings.ui.jobs).merge(Mystro::Plugin.jobs) %>
      <%= render 'layouts/jobs', jobs: {}.merge(Settings.ui.jobs).merge(Mystro::Plugin.jobs) %>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= session[:org] %> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <% Organization.desc(:asc).all.each do |organization|; next if organization.name == 'unknown' %>
            <li>
              <%= link_to "/organization/#{organization.id}", :class => "organization_select", :data => { organization: organization.name } do %>
                  <i class="<%= organization.name == session[:org] ? "icon-ok" : "icon-ok icon-white" %>"></i> <%= organization.name %>
              <% end %>
            </li>
        <% end %>
        <li class="divider"></li>
        <li>
          <%= link_to "/organizations/unknown", :class => "organization_select", :data => { organization: "unknown" } do %>
              <i class="<%= "unknown" == session[:org] ? "icon-ok" : "icon-ok icon-white" %>"></i> unknown
          <% end %>
        </li>
        <li>
          <%= link_to "/organizations/everything", :class => "organization_select", :data => { organization: "everything" } do %>
              <i class="<%= "everything" == session[:org] ? "icon-ok" : "icon-ok icon-white" %>"></i> everything
          <% end %>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li>
          <%= link_to main_app.users_path, :title => "manage users" do %>
              <i class="icon-user "></i> Manage Users
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to main_app.edit_user_registration_path, :title => "edit profile" do %>
              <i class="icon-cog "></i> Profile
          <% end %>
        </li>
        <li>
          <%= link_to main_app.destroy_user_session_path, :method => 'delete', :title => "logout" do %>
              <i class="icon-share "></i> Logout
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</div><!-- /.nav-collapse -->
